<div class="block-container container">
    <div class="block left-side aos-init" data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="600" data-aos-mirror="true">
        <img class="block-img" src="assets/images/block/fashion.jpg" alt="fashion">
        <div class="block-details">
            <h4 class="block-title">Revamp your wardrobe</h4>
            <a href="/" class="block-button">Explore more</a>
        </div>
    </div>
    <div class="block right-side aos-init" data-aos="fade-left" data-aos-easing="ease-in-out" data-aos-duration="600" data-aos-mirror="true">
        <img class="block-img" src="assets/images/block/footwear.jpg" alt="footwear">
        <div class="block-details">
            <h4 class="block-title">Step up your style</h4>
            <a href="/" class="block-button">Explore more</a>
        </div>
    </div>
    <div class="block right-side aos-init" data-aos="fade-left" data-aos-easing="ease-in-out" data-aos-duration="600" data-aos-mirror="true" data-aos-anchor=".right-side" >
        <img class="block-img" src="assets/images/block/beauty.jpg" alt="beauty">
        <div class="block-details">
            <h4 class="block-title">Enhance your radiance</h4>
            <a href="/" class="block-button">Explore more</a>
        </div>
    </div>
</div>