// colors
$primary1: #1C343C;
$primary2: #7DB3C6;
$primary3: #637B84;
$secondary1: #F1F1E6;
$secondary2: #EDFCFF;
$secondary3: #F1F1E6;
$accent1: #E3C395;
$accent2: #AA8D62;
$accent3: #FFEDCB;

// resolutions
$mobile: 567px;
$tablet: 768px;
$desktop: 1024px;
$large: 1440px;
