<div class="container mt-5">
    <h1 class="my-4">Privacy Policy</h1>

    <section id="introduction">
        <h2>Introduction</h2>
        <p>
            Welcome to UrbanMarket. We are committed to protecting your personal information and your right to
            privacy. If you have any questions or concerns about this privacy notice or our practices with regards to
            your personal information, please contact us at urbanmarketservice&#64;gmail.com.
        </p>
    </section>

    <section id="information-we-collect" class="mt-5">
        <h2>Information We Collect</h2>
        <p>
            We collect personal information that you voluntarily provide to us when registering on the UrbanMarket, expressing an interest in obtaining information about us or our products and services, when
            participating in activities on the UrbanMarket or otherwise contacting us.
        </p>
        <ul>
            <li><strong>Personal Information Provided by You.</strong> We collect names, phone numbers, email addresses,
                mailing addresses, and other similar information.</li>
            <li><strong>Payment Data.</strong> We may collect data necessary to process your payment if you make
                purchases, such as your payment instrument number (such as a credit card number), and the security code
                associated with your payment instrument.</li>
        </ul>
    </section>

    <section id="how-we-use-information" class="mt-5">
        <h2>How We Use Your Information</h2>
        <p>
            We use personal information collected via our UrbanMarket for a variety of business purposes
            described below. We process your personal information for these purposes in reliance on our legitimate
            business interests, in order to enter into or perform a contract with you, with your consent, and/or for
            compliance with our legal obligations.
        </p>
        <ul>
            <li>To facilitate account creation and logon process.</li>
            <li>To send you marketing and promotional communications.</li>
            <li>To post testimonials.</li>
            <li>Request feedback.</li>
            <li>To enable user-to-user communications.</li>
        </ul>
    </section>

    <section id="information-sharing" class="mt-5">
        <h2>Information Sharing</h2>
        <p>
            We may process or share your data that we hold based on the following legal basis:
        </p>
        <ul>
            <li><strong>Consent:</strong> We may process your data if you have given us specific consent to use your
                personal information in a specific purpose.</li>
            <li><strong>Performance of a Contract:</strong> Where we have entered into a contract with you, we may
                process your personal information to fulfill the terms of our contract.</li>
            <li><strong>Legal Obligations:</strong> We may disclose your information where we are legally required to do
                so in order to comply with applicable law, governmental requests, a judicial proceeding, court order, or
                legal process.</li>
        </ul>
    </section>

    <section id="data-security" class="mt-5">
        <h2>Data Security</h2>
        <p>
            We have implemented appropriate technical and organizational security measures designed to protect the
            security of any personal information we process. However, please also remember that we cannot guarantee that
            the internet itself is 100% secure. Although we will do our best to protect your personal information,
            transmission of personal information to and from our UrbanMarket is at your own risk. You should
            only access the services within a secure environment.
        </p>
    </section>

    <section id="policy-updates" class="mt-5">
        <h2>Policy Updates</h2>
        <p>
            We may update this privacy notice from time to time. The updated version will be indicated by an updated
            "Revised" date and the updated version will be effective as soon as it is accessible. If we make material
            changes to this privacy notice, we may notify you either by prominently posting a notice of such changes or
            by directly sending you a notification.
        </p>
    </section>

    <section id="contact-us" class="mt-5 mb-5">
        <h2>Contact Us</h2>
        <p>
            If you have questions or comments about this notice, you may contact our Data Protection Officer (DPO), 
            by email at urbanmarketservice&#64;gmail.com, or by post to:
        </p>
        <p>
            UrbanMarket<br>
            A-123, Chocolate road<br>
            Mumbai, Maharashtra - 400019<br>
            India
        </p>
    </section>
</div>